<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
  <div class="container">
      <div class="navbar-brand">
          <span class="navbar-logo">
              <a href="/">
                  <img src="assets/images/icons8-ionic-500-96x96.png" alt="Mobirise" style="height: 3.8rem;">
              </a>
          </span>
          <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Smartchain Earn</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/">Home</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/about">About us&nbsp;&nbsp;</a></li>
              <li class="nav-item"><a class="nav-link link text-black display-4" href="/help">&nbsp;FAQ</a></li><li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">&nbsp;Currency</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/bitcoin">Bitcoin</a><a class="text-black dropdown-item display-4" href="/ethereum" aria-expanded="false">Ethereum</a><a class="text-black dropdown-item display-4" href="/binance" aria-expanded="false">Binance</a><a class="text-black dropdown-item display-4" href="/litecoin" aria-expanded="false">Litecoin</a><a class="text-black dropdown-item display-4" href="/ripple" aria-expanded="false">Ripple</a><a class="text-black dropdown-item display-4" href="/tron" aria-expanded="false">Tron</a></div></li></ul>
          
          <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/users/login">&nbsp;Log In</a> <a class="btn btn-primary display-4" href="/users/register">&nbsp;Register</a></div>
      </div>
  </div>
</nav>