<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.2.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.2.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-ionic-500-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>about us</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
    <section class="menu cid-smpMFp5xhw" once="menu" id="menu1-1e">
        <% include ./partials/nav %>
    
    </section>

<section class="image2 cid-smpMUtX5VO" id="image2-1g">
    

    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/about.jpeg" alt="Mobirise">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-4">
                        </p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>About Us</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Smartchain Earn is the longest-running Bitcoin invest­ment site in the US. They started by offering many different cryptocur­ren­cies and then later realized that it was a better business decision to focus on Bitcoin, Ethereum, Binance, Litecoin, Tron, USDT and XRP only. In early 2020 they removed support for all assets besides Bitcoin, Ethereum, Binance, Litecoin, Tron, USDT and XRP.
                        <br><br>
                        Inter­est­ingly, Smartchain Earn is the only investment company in the world to provide Bitcoin audits (aka Proof of Reserves) which makes them one the most trusted bitcoin sites. Our services are specif­i­cally designed to serve corpo­rate and insti­tu­tional investors, sophis­ti­cated investors and profes­sional traders. 
                        <br><br>
                        We aspire to be a company that contributes to society by providing innovative services across a range of industries, going beyond the realms of conventional business models.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image1 cid-smpMUZ6txK" id="image1-1h">
    

    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/what.jpeg" alt="Mobirise">
                    <p class="mbr-description mbr-fonts-style pt-2 align-center display-4">
                  </p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>What we do</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        We grow investors funds by investing carefully and strategically into selected sectors and industries.
                    <br><br>
                        We invest these funds into different cryptocurrency, DAPP, brokerage options and other feasible commodities to achieve such profits. With the help of the funds put into the feasible commodities we’re assure of the assurance of a appreciative return. Then the other funds cast into the different brokerage options gives boost of returns during the period it’s market is effective, now on excessive returns from different brokerage options more funds will be put into the feasible commodities and as well different brokerage options to increase constantly and now with the help of the feasible commodities there’s always available funds to subsidize the days trades are not good. We accumulatively invest clients funds into different brokerage options and feasible commodities including real estate and gold. And we give you your promised percentage respectively. And we all know real estate and gold always appreciates. So the certainty of the returns are assured.
                </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-smpMML3oBH" once="footers" id="footer1-1f">

    <% include ./partials/footer %>
</section>



<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  <% include ./partials/chat %>
  
</body>
</html>