<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.2.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.2.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-ionic-500-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>binance</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
    <section class="menu cid-smpMFp5xhw" once="menu" id="menu1-1e">
      
        <% include ./partials/nav %>
    
    </section>

<section class="header7 cid-smqv0B5Ysd mbr-fullscreen" id="header7-2b">

    

    

    <div class="text-right container">
        <div class="row justify-center">
            <div class="col-12 col-lg-5" style="color: white;">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Use Binance to make reliable investments</strong></h1>
                
                <!-- <p class="mbr-text mbr-fonts-style display-7">
                    Mobirise Free Website Maker is perfect for non-techies and great for pro-coders for fast prototyping and small customers' projects.</p> -->
                <div class="mbr-section-btn mt-3"><a class="btn btn-warning display-4" href="/users/login">Get started</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-smqv4WFsIb" id="features17-2c">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/binance12.jpeg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>invest using binance</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            BNB powers the Binance ecosystem and is the native asset of the Binance Chain. BNB is a cryptocurrency created in June 2017, launched during an ICO in July, and initially issued as an ERC-20 token. Designed to be used for a fee reduction on the Binance exchange, its scope was extended over the years.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/login">
                                get started 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features12 cid-smfuUsOGGL" id="features13-12">

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>How to get started with your first Investment.</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            UsFollow this step to get started with your first investment.</p>
                        <div class="mbr-section-btn">
                            <a class="btn btn-primary display-4" href="/users/login/">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Sign Up</strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Go to the <span style="color: #40b0bf;">sign up</span> page, complete the form and click on the submit button, make sure you use a <span style="color: #40b0bf;">strong password</span>.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-sale mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Choose an Investment plan</strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">After you <span style="color: #40b0bf;">signed up </span> you will use your details log in into your dashboard use the hand burger menu to navigate to the invest section and choose an <span style="color: #40b0bf;">Investment plan</span>.
                        </h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-timer mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Billings</strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">After Choosing an Investment plan you would need to make a payment to using any cryptocurrency odf choice given and complete the transaction, <span style="color: #40b0bf;">this address expires in 6 minutes</span> so make sure you make the payment and complete the transaction, this will prevent technical issues.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-success mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Success</strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">After this process your payment is verified and you should start making profit.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="features5 cid-smqviKtAI9" id="features6-2d">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>No Coding</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            You don't have to code when you create your own site. Select one of available themes in the Mobirise sitebuilder.</p>
                        <div class="mbr-section-btn">
                            <a href="https://mobiri.se" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img1 align-center">
                        <span class="mbr-iconfont mobi-mbri-setting mobi-mbri"></span>
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Unique Styles</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            Select the theme that suits you. Each theme in the Mobirise website building software contains a set of unique blocks.</p>
                        <div class="mbr-section-btn">
                            <a href="https://mobiri.se" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img2 align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="footer1 cid-smpMML3oBH" once="footers" id="footer1-1f">
    <% include ./partials/footer %>
</section>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  

  <% include ./partials/chat %>
</body>
</html>