
<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.1.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.1.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Blog</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
    <section class="menu cid-smpMFp5xhw" once="menu" id="menu1-1e">
    
        <% include ./partials/nav %>
    
    </section>

    <section class="content14 cid-sbjG3NXYue" id="content14-p">
    
    
        <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-12 col-lg-10" style="margin-top: 50px;">
                      <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                          <strong>Refund policy</strong>
                      </h3>
                      <h6 class="mbr-section-title mbr-fonts-style mb-4 display-6">
                          <strong>disclaimer</strong>
                      </h6>
                  <ul class="list mbr-fonts-style display-7">
                      <li><strong>smartchainearn  is not available to the general public and is opened only to the qualified members , the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between us and its Member.
                      </strong><br></li>
                      <li><strong>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</strong><br></li>
                      <li><strong>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always clear all complaint with the administrator.</strong><br>
                         </li>
                  </ul>
              </div>
          </div>
      </div>
      </section>
      
      <section class="footer1 cid-smpMML3oBH" once="footers" id="footer1-1f">

        <% include ./partials/footer %>
    </section>
    
      <script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
      <% include ./partials/chat %>

</body>
</html>